[Desktop Entry]
Name=Horizon
Comment=Horizon Desktop Enviroment
Exec=/home/horacio/Desarrollo/austral-os/horizon/examples/config/start-horizon-session.sh
Icon=labwc
Type=Application
DesktopNames=labwc;wlroots