[Desktop Entry]
Type=Application
Name=Konsole
Exec=konsole
Icon=utilities-terminal
Comment=Terminal emulator
Terminal=false
Categories=System;TerminalEmulator;
