[Desktop Entry]
Type=Application
Name=Preferences
Exec=/home/horacio/Desarrollo/austral-os/horizon/build/apps/preferences/preferences
Icon=applications-system
Comment=Preferences
Terminal=false
Categories=System;
