[Desktop Entry]
Type=Application
Name=Terminal
Exec=/home/horacio/Desarrollo/austral-os/horizon/build/apps/terminal/terminal
Icon=horizon-terminal
Comment=Terminal emulator
Terminal=false
Categories=System;TerminalEmulator;
